<% layout("/layout/boilerplate") %>

<div class="container mt-4">

  <!-- Heading -->
  <div class="row">
    <div class="col-12 text-center">
      <h3>Listing Details :</h3>
    </div>
  </div>

  <!-- Card Center -->
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
      <div class="card show-card">

        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
        />

        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            <%= listing.description %><br />
            &#8377;
            <%= listing.price ? listing.price.toLocaleString("en-IN") : "Not available" %><br />
            <%= listing.location %><br />
            <%= listing.country %>
          </p>
        </div>

      </div>
    </div>
  </div>

  <!-- Buttons Center -->
  <div class="row justify-content-center mt-3">
    <div class="col-md-6 d-flex justify-content-between">

      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">
        Edit this Listing
      </a>

      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark">Delete this Listing</button>
      </form>

    </div>
  </div>

</div>
